// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --todomate-blue: #3760F9;
  --todomate-dark: #17161B;
  --todomate-lime: #D2FC59;
  --todomate-lavender: #DAD9FB;
}