<ion-content [fullscreen]="true" class="splash-content">

  <div class="splash-container">

    <div class="logo-container">
      <div class="logo">
        <ion-icon name="checkmark-outline"></ion-icon>
      </div>
    </div>

    <div class="brand">
      <h1>Todo<span>Mate</span></h1>

      <p>
        Plan it. Do it. Done.
      </p>
    </div>

    <div class="bottom-section">

      <p class="tagline">
        Stay organized and get things done.
      </p>

      <ion-button
        expand="block"
        routerLink="/login"
        class="get-started">

        Get Started

        <ion-icon
          slot="end"
          name="arrow-forward-outline">
        </ion-icon>

      </ion-button>

    </div>

  </div>

</ion-content>